:root {
    --mars-beige: #d7a384;
    --mars-brown: #b57756;
    --mars-grey: #503530;
    --mars-black: #2e242b;
    --black: #000000;
    --white: #ffffff;
    --white-35: rgba(255, 255, 255, 0.35);
    --white-80: rgba(255, 255, 255, 0.80);
    --black-50: rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--black);
    background-image: url("../img/mars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    color: var(--white);
}

body[data-theme="dark"] {
    background-image: url("../img/mars.jpg");
}

body[data-theme="light"] {
    background-image: url("../img/mars_starships.jpg");
}

article {
    margin-left: 13vw;
    max-width: 650px;
    font-size: small;
}

article p {
    line-height: 1.5rem;
}

section {
    flex: 1;
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

header {
    padding: 10px 100px 0px 40px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.topnav {
    display: flex;
}

.topnav a {
    color: var(--white-80);
    padding: 14px 18px;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.topnav a:hover {
    color: var(--white)
}

.topnav a.active {
    color: var(--white)
}

h1 {
    text-transform: uppercase;
    font-size: 2.75rem;
}

mark {
    background-color: var(--mars-brown);
    color: var(--black);
    padding: 0 4px;
    border-radius: 3px;
}

.calc-grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 5px;
    width: max-content;
}

.calc-btn {
    height: 50px;
    width: 100%;

    border-radius: 4px;
    border-width: 1px;
    border-color: var(--white-35);
    border-style: solid;
    background-color: var(--black-50);
    color: var(--white);
    font-family: inherit;
    font-weight: normal;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
}

.calc-btn.primary {
    background-color: var(--mars-black);
}

.calc-btn.secondary {
    background-color: var(--mars-grey);
}

.calc-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.calc-btn:active {
    filter: brightness(0.9);
}

.calc-btn.double-width {
    grid-column: span 2;
    border-radius: 4px
}

.history-display {
    grid-column: 1 / -1;
    width: 100%;
    height: 30px;
    background: transparent;
    color: var(--white-80);
    text-align: right;
    font-size: 0.9rem;
    line-height: 30px;
    padding-right: 10px;
    margin-bottom: -10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result {
    grid-column: 1 / -1;
    width: 100%;

    height: 60px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--white-35);
    margin-bottom: 15px;
    padding-right: 10px;
    background: var(--black-50);
    text-align: right;
    line-height: 60px;
    color: var(--white);
    font-size: 1.75rem;
}

.change-theme-btn {
    background-color: var(--black-50);
    color: var(--white);
    border-color: var(--white-35);
    border-style: solid;
    border-radius: 4px;
    margin-top: 30px;
    padding: 15px;
    font-family: inherit;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.change-theme-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.change-theme-btn:active {
    filter: brightness(0.9);
}

.theme-select {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-80);

    margin-left: auto;
}

.select-theme {
    background: var(--black-50);
    color: var(--white-80);
    font-family: inherit;
    text-transform: uppercase;
    text-align: left;
    font-size: x-small;
    border-style: solid;
    border-color: var(--white-35);
    border-width: 1px;
    border-radius: 4px;
    padding: 7px 10px;
    width: 260px;
    cursor: pointer;
}

.github-link {
    color: var(--white);
    text-decoration: none;
    padding: 5px;
    border-color: var(--white);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.github-ico {
    height: 1rem;
    width: auto;
    vertical-align: -0.15em;
}


.error {
    grid-column: 1 / -1;
    background-color: rgba(255, 69, 58, 0.2);
    color: #ff453a;
    border: 1px solid #ff453a;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;

    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.error.show {
    display: block;
    opacity: 1;
}
